/*------------------------------------------------- SEZIONE COMUNE DEL SITO -------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white
}
:root{
    --max-lunghezza: 65%;
    --colore-blu: #0084FD;
}
.btn{
    border-radius: 1em;
    padding: .5em;
    max-width: max-content;
    max-height: max-content;
}
.btn-bianco{
    background-color: white;
    color: black;
}
.btn-blu{
    background-color: var(--colore-blu);
    padding-right: 3em;
    padding-left: 3em;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container:nth-of-type(even){
    background-color: #9792E4;
}
.btn-viola{
    background-color: #9792E4;
}
/*------------------------------------------------- SEZIONE COMUNE DEL SITO -------------------------------------------------*/

/*------------------------------------------------- HEADER -------------------------------------------------*/
header{
    display: flex;
    justify-content: center;
    padding: 1em 0;
    background-color: var(--colore-blu);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--max-lunghezza);
}
#nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
/*------------------------------------------------- HEADER -------------------------------------------------*/

/*------------------------------------------------- MAIN -------------------------------------------------*/

/*---------- TABELLA FUNZIONI ----------*/
.tabella-card{
    background-color: #B5DDFF;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: calc(100% / 3);
}
.tabella-card-piccolo{
    flex-direction: column;
}
.tabella-scritte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 1.5em;
    gap: 2em;
}
.tabella-card-allineamento-centro{
    text-align: center;
}
#tabella{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--max-lunghezza);
    margin: 3em 0 6em 0;
    row-gap: 2em;
}
.tabella-svg{
    color: var(--colore-blu);
    width: 20%;

}
#tabella h3{
    font-size: 22px;
    color: var(--colore-blu);
}
#tabella p{
    color: #5a6e7f;
    font-size: 18px;
    font-weight: bold;
}
#tabella-alto, #tabella-basso{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
#tabella-card-grande{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3 * 2 + 2em);
}
#tabella-card-grande .tabella-scritte{
    align-items: start;
}
#tabella-card-grande img{
    align-self: flex-end;
    padding-right: 4em;
    max-width: 50%;
    max-height: 75%;
}
/*---------- TABELLA FUNZIONI ----------*/

/*---------- STRATEGIC PLANNING ----------*/
#strategic-planning{
    display: flex;
    flex-direction: row;
    width: var(--max-lunghezza );
    padding: 0 10em;
}
#st-sinistra{
    width: 50%;
}
#st-sinistra img{
    width: 100%;
    height: 50%;
    margin: 5em 0;
}
#st-sinistra h2{
    margin-bottom: 3em;
}
#st-destra{
    align-self: flex-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    padding: 2em;
    background-color: white;
}
#st-destra img{
    width: 100%;
    height: 50%;
}
#st-destra h2, #st-destra p, #st-destra i{
    color: black;
}
#st-destra p{
    font-style: italic;
}
/*---------- STRATEGIC PLANNING ----------*/

/*---------- TESTIMONIAL ----------*/

/*---------- TESTIMONIAL ----------*/


/*------------------------------------------------- MAIN -------------------------------------------------*/

/*------------------------------------------------- AAA -------------------------------------------------*